* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navigation {
	position: absolute;
	top: 0;
	left: 0;
}

/*логотип*/
.navbar-brand {
    max-width: 200px;
    top:44%;
    left:44%;
    position: absolute;
    z-index: 5;
}


.clearfix:after {
    clear: both;
}

.navbar-collapse {
    max-width: 60px;
    position: fixed;
    right:0;
    top:0;
}

#mainNav .navbar-nav {
    font-size: 18px;
    margin-left: -30px;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}


header {
	background-image: url("../img/");
	background-size: cover;
    max-width: 100%; 
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	position: relative;
    justify-content: center;
    left: 0px;
    top: 0px;
    z-index: 0;
    border: 0px;

}

.wrapper1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    margin-top: 50px;
   
}

.aside {
    width: calc(50% - 15px);
    min-height: 450px;
   
/*    background: #E5E5E5;*/
   
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
}



#mainNav.navbar-shrink {
    margin-top: 0;
}


#mainNav {
    display: flex;
    justify-content: flex-end; 
    background: transparent;
    padding: 0px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    z-index: 999;
}

/*додатковий для navbar*/

#mainNav.navbar-shrink {
    margin-top: 0;
}


/* Властивості "гамбургер-меню" */
#mainNav .navbar-toggler {
    border: none;
    cursor: grab;
    outline: none;
}

.fa-bars:before { 
    color:coral;
    font-size: 3rem;
}
/* Кінець властивостей "гамбургер-меню" */

#mainNav .nav-item {
    text-align: right;
}

/* Властивості лінків меню */
#mainNav .nav-link.active,
#mainNav .nav-link {
    background-image: url("../img/element1.png");
    background-size: cover;
    background-position: center;
    max-width: 20vh;
    width: 100px;
    height: 100px;
    max-height: 20vh;
}

#mainNav .nav-link.fst { background-image: url("../img/home.png"); }
#mainNav .nav-link.snd { background-image: url("../img/element1.png"); }
#mainNav .nav-link.active {
    background-image: url("../img/element2.png");
}

@media screen and (max-width: 767px) {
      
    #page-top .container {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    

    
    
    /* Зміна властивостей контейнера всередині */
    /* навігаційної панелі #mainNav */    
    #mainNav .container {
        padding-left: 0%;
        padding-right: 0;
    }
    
    /* Зміна властивостей лінків меню */    
    #mainNav .navbar-nav {
        background-color: coral;  /* Загальний колір фон під усіма лінками */
    }
    
    #mainNav .nav-link {
        border-radius: 0;
        margin: 0;
    }
    
    #mainNav .nav-link {
        padding: .5rem 1.5rem;
        border-top: 1px solid #666;
    }

}
     
 